[submodule "EDNA/vendor/spdlog"]
	path = EDNA/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EDNA/vendor/GLFW"]
	path = EDNA/vendor/GLFW
	url = https://github.com/Lrevilo/GLFW
[submodule "EDNA/vendor/imgui"]
	path = EDNA/vendor/imgui
	url = https://github.com/LRevilo/imgui
[submodule "EDNA/vendor/glm"]
	path = EDNA/vendor/glm
	url = https://github.com/g-truc/glm
